@import "@/utils/theme/styles/variables.scss";

.main {
  @include col;

  height: 100vh;
  padding: 0;
  padding-bottom: 2rem;
  align-items: flex-end;
  justify-content: space-between;
}

.body {
  width: 100%;
}

.container {
  height: calc(100% - 3.25rem);
  padding: 0 1.25rem;
  position: relative;
  margin-top: 2rem;
}

.succeccfulMessageText {
  font-size: 1.25rem;
  font-weight: 600;
  color: #34a862;
}

.returnButton {
  width: 8.75rem;
  margin-left: 1.188rem;
}
