@import "@/utils/theme/styles/variables.scss";

.selectAddressContainer {
  @include col;

  .seprator {
    width: 100%;
    border-top: 1px solid #e0e0e0;
    margin-top: 0.5rem;
  }
}

.selectAddressHeaderTitle {
  font-weight: 600;
  color: #000000;
}

.selectAddressBox {
  @include col;

  margin-top: 1rem;

  .selectAddressTitle {
    font-size: 0.875rem;
  }
  .selectAddressButton {
    margin-top: 1.5rem;
    background-color: #ffc453;
    color: #000000;
  }
}

.selectedAddressTitle {
  margin-top: 1rem;
  font-weight: 500;
  font-size: 0.875rem;
}
